*{
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Mono', monospace;
}

.navbar{
    background-color: rgb(158, 109, 44);
    
    display: inline-block;
    margin: 0 10px;
}
.wlcome{
    background-image: url("..Img/jamjam-Wagerecht.jpg");
    background-position: center;
    background-size: cover;
    padding: 120px;
}